.custom-shape-divider-top-1610369738 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1610369738 svg {
    position: relative;
    display: block;
    width: calc(103% + 1.3px);
    height: 152px;
}

.custom-shape-divider-top-1610369738 .shape-fill {
    fill: #FFFFFF;
}